{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.css' %}" />
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <!-- all tags -->
        <div class="col-sm-3">
          <h1>Tags</h1>
          <hr />
          <input class="tagclick" type="button" value="+" id="0" />

          <div id="replace">{{tags|safe}}</div>
        </div>

        <div class="col-sm-7">
          <!-- Note Form -->
          <div class="row">
            <div class="col-sm-12">
              <form id="form" action="" method="POST">
                {% csrf_token %}
                <input
                  placeholder="Note Title"
                  class="form-control mb-1"
                  type="text"
                  name="title"
                  id="titleid"
                />
                <textarea
                  placeholder="Lorem Ipsum Dollar site ammet"
                  class="form-control"
                  name="subject"
                  id="subjectid"
                  cols="30"
                  rows="10"
                ></textarea>
                <div class="d-flex justify-content-between mt-2">
                  <div id="checkbox-select" class="">
                    <span>Tags: </span>
                  </div>
                  <div>
                    <input
                      type="button"
                      id="formclear"
                      class="btn btn-warning"
                      value="Clear"
                    />
                    <input
                      type="submit"
                      id=""
                      class="btn btn-success"
                      value="Save"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- Display saved not and all Tag's leaf node -->
          <div class="row mt-4">
            <div class="col-sm-4">
              <h4>Al Notes</h4>
              <hr />
              <div id="notetitle"></div>
            </div>
            <!-- Check box for leaf node -->
            <div class="col-sm-8">
              <div id="childtag" class="overflow-auto" style="height: 100px">
                {% for i in childTags %}

                <div class="form-check">
                  <input
                    onclick="clk()"
                    name="{{i.tag_name}}"
                    class="form-check-input chekbox"
                    type="checkbox"
                    value="{{i.id}}"
                    id="{{i.tag_name}}"
                  />
                  <label class="form-check-label" for="{{i.tag_name}}">
                    {{i.tag_name}}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'base/js/jquery.js' %}"></script>
    <script src="{% static 'base/js/script.js' %}"></script>
    {% include "base/ajax.html" %}
    <!-- <script src="{% static 'base/js/jqueryscript.js' %}"></script> -->
  </body>
</html>
